@using X.PagedList.Mvc.Core
@using X.PagedList
@model IEnumerable<Product>

@{
    ViewData["Title"] = "Home Page";
    var location = new Uri($"{Url.ActionContext.HttpContext.Request.Scheme}://{Url.ActionContext.HttpContext.Request.Host}{Url.ActionContext.HttpContext.Request.Path}{Url.ActionContext.HttpContext.Request.QueryString}");
    var ReturnUrl = location.AbsoluteUri;
    TempData["returnurl"] = ReturnUrl;
}
@{
    if (Url.ActionContext.HttpContext.Session.GetString("hellomsg") != "true")
    {
        <div id="showhelloid" class="text-center m-1">
            <div class="display-6" style="color:black; text-shadow: 2px 1px 5px white;">Welcome to Best products Site, Have Nice time!</div>
        </div>
    }
}
@{Url.ActionContext.HttpContext.Session.SetString("hellomsg","true");}
<style>
    #bodyrenderid {
        background-image: url('/images/1Sea_Tropics_Palms_Beach_Sunlounger_567178_3840x2400.jpg');
        background-repeat: space;
        background-size: cover;
    }
    
</style>
<div class="d-flex flex-row">
    <form autocomplete="false" class="d-flex flex-row m-1" method="get" asp-action="Index">
        <select @*style="border-radius:10px; border: 1px solid blue;"*@ id="categorylistid" onchange="SubmitChanges()" class="form-select text-lg-center text-dark" name="category">
            <option hidden class="text-success text-center" value="" selected>Оберіть категорію</option>
            <option class="form-control text-danger text-center" value="@null">Всі категорії</option>
            @foreach (var item in ViewData["ListCategories"] as List<Category>)
            {
                <option style="color:darkblue;" class="form-control" value="@item.CategoryName">@item.CategoryName-@item.Description</option>
            }
        </select>
     @*   <input class="btn btn-info m-1"type="submit" value="Оновити список"/>*@
    </form>
    <form class="d-flex flex-row m-1" asp-action="Index" method="get">
        <input class="form form-control" type="text" maxlength="20" name="seach" />
        <input class="btn btn-primary m-1" type="submit" value="Пошук" />
    </form>
</div>

<div class="productsHomeContainer">
@{
    if (Model != null)
    {
        foreach(var prod in Model)
        {
            if (@prod.Count > 0)
            {
                <div class="productsCard">
                    <a asp-action="Details" asp-route-id="@prod.Id">
                        <img src="~/images/@prod.Image" width="300" height="200" style="border-radius:10px 10px 0px 0px;" />
                    </a>
                        <h6 class="d-flex" style="margin-left:5px; color:darkblue;">@prod.Name</h6>
                        <h8 class="d-flex overflow-hidden" style="margin-left:5px;">@prod.ShortDescription</h8>
                <div style="margin-top:auto;">
                    <div style="display:flex; flex-direction:row; height:16px; width:max-content; margin:5px;">
                        @{  
                            if (@prod.Rating >= 0 && @prod.Rating <= 5)
                            {                      
                                    for (int b = 0; b < @prod.Rating; b++)
                                    {
                                        <img src="~/images/stars_118606.png" style="height: 15px; width: 15px; margin-right: 2px;" />                                
                                    }
                                    for (int i = 0;i < (5-@prod.Rating);i++)
                                    {
                                        <img src="~/images/stars_118606.png" style="opacity:0.5; height: 15px; width: 15px; margin-right: 2px;" />
                                    }                                                                
                            }
                        }
                    </div>
                    <div style="display:flex; flex-direction:row; justify-content:space-evenly; color: green; height:35px; width:auto; margin: 10px;">
                        <div style="margin: 2px; font-weight:700;">Ціна: @prod.Price грн.</div>

                        <a asp-area="" asp-controller="Home" asp-action="Details" asp-route-id="@prod.Id" style="margin-left:10px; margin-right:10px;">
                            <img src="~/images/details_popup_icon-icons.com_55930.png" style=" margin-bottom:10px; height:30px; width:30px;"/>
                        </a>
                            @if (User.Identity.IsAuthenticated)
                            {
                                @if (!User.IsInRole("manager"))
                                {
                                     <a asp-area="" asp-controller="Order" asp-action="AddToBasket" asp-route-id="@prod.Id" asp-route-rUrl="@ReturnUrl" style="margin-left:10px; margin-right:10px;">
                                    <img class="basket" src="~/images/buy-48_45560.png" height="30px" width="30px" style=" margin-bottom:10px; height:30px; width:30px;" />
                                </a>  
                                }                             
                            }
                            else @*IfUserNotRegistered*@
                            {
                                <a asp-area="" asp-controller="Home" asp-action="AddToBasketNotregistered" asp-route-id="@prod.Id" asp-route-rUrl="@ReturnUrl" style="margin-left:10px; margin-right:10px;">
                                  <img class="basket" src="~/images/buy-48_45560.png" height="30px" width="30px" style=" margin-bottom:10px; height:30px; width:30px;" />
                                </a>
                            }
                
                        @if (User.Identity.IsAuthenticated && User.IsInRole("manager"))
                        {

                                <a class="btn btn-danger rounded-circle me-1" asp-controller="Manager" asp-action="DeleteProduct" asp-route-id="@prod.Id">X</a>
                            <span style="height:35px;width:auto; min-width:35px; text-align:center; justify-content:center; align-content:center;" class="bg-dark rounded-end rounded-start text-light me-1">@prod.Count</span>
                            <a class="btn btn-dark rounded-circle" asp-controller="Manager" asp-action="AddProduct" asp-route-id="@prod.Id">+</a>

                        }
                    </div> 
                </div>
            </div>
            }
            else if (@prod.Count == 0)
            {
                <div class="productsCard0">
                    <img src="~/images/@prod.Image" width="300" height="200" style="border-radius:10px 10px 0px 0px" />
                        <h6 class="d-flex" style="margin-left:5px; color:darkblue;">@prod.Name</h6>
                        <h8 class="d-flex overflow-hidden" style="margin-left:5px;">@prod.ShortDescription</h8>
                        <div style="margin-top:auto;">
                    <div style="display:flex; flex-direction:row; height:16px; width:max-content; margin: 10px;">
                        @{
                            if (@prod.Rating >= 0 && @prod.Rating <= 5)
                            {
                                for (int b = 0; b < @prod.Rating; b++)
                                {
                                    <img src="~/images/stars_118606.png" style="height: 15px; width: 15px; margin-right: 2px;" />
                                }
                                for (int i = 0; i < (5 - @prod.Rating); i++)
                                {
                                    <img src="~/images/stars_118606.png" style="opacity:0.5; height: 15px; width: 15px; margin-right: 2px;" />
                                }
                            }
                        }
                    </div>
                    <div style="display:flex; justify-content:center; color: red; height:35px; width:auto; margin: 10px;">
                        Товар Закінчився    
                        <a asp-area="" asp-controller="Home" asp-action="Details" asp-route-id="@prod.Id" style="margin-left:10px; margin-right:10px;">
                            <img src="~/images/details_popup_icon-icons.com_55930.png" style="margin-bottom:10px; height:30px; width:30px;" />
                        </a>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("manager"))
                        {
                            <a class="btn btn-danger rounded-circle me-1" asp-controller="Manager" asp-action="DeleteProduct" asp-route-id="@prod.Id">X</a>
                            <a class="btn btn-dark rounded-circle" asp-controller="Manager" asp-action="AddProduct" asp-route-id="@prod.Id">+</a>
                        }
                    </div>
                </div>
            </div>
            }
        }
           
    }
}
    @if (Model.Count() < 1)
    {
        <div class="d-flex text-danger justify-content-center"><h4>По Вашому запиту нічого не знайдено.</h4></div>
    }
</div>
@if(Model.Count() > 0)
{
  <div class="d-flex flex-row justify-content-center m-2">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page = page}),
    new X.PagedList.Web.Common.PagedListRenderOptions
    {
    DisplayItemSliceAndTotal = false,
    DisplayPageCountAndCurrentLocation = true,
    DisplayEllipsesWhenNotShowingAllPageNumbers=true,
    ContainerDivClasses = new [] {"navigation"},
    LiElementClasses = new [] {"page-item"},
    PageClasses = new [] {"page-link"},
    })
</div>  
}


@section Scripts{
    <script>
        $(document).ready(function () {
            $('ul.pagination > li.disabled > a').addClass('page-link');
        });
    </script>
    <script type="text/javascript">
        function SubmitChanges() {
            var selectedValue = document.getElementById('categorylistid').value;
            @*alert('selectedValue =' + selectedValue);*@
            window.location.href = "/Home/Index?category="+selectedValue;
        }
    </script>
    <script>       
        function sleep(ms) {
            return new Promise((resolve, reject) => {
                setTimeout(() => {
                    resolve(ms);
                }, ms);
            })
        }
        async function myFunction2() {
            await sleep(10000);
            var showdiv = document.getElementById('showhelloid');
            showdiv.style = 'display:none;';
        }
        myFunction2();
    </script>
}
                    